@inherits LayoutComponentBase

<div class="app-root">
    <nav class="nav">
        <NavLink href="/testfall">Testfall</NavLink>
        <NavLink href="/testfalldata">Testfalldata</NavLink>
        <NavLink href="/settings">Inställningar</NavLink>
    </nav>
    <main class="page">
        @Body
    </main>
</div>
